.git
.github
.idea
.vscode
.helix
**/.DS_Store
**/__pycache__
**/*.pyc
**/*.py~
**/*.swp
**/*.swo
**/*.egg-info
node_modules
dist
erpnext/docs/current
erpnext/public/dist
.aider*
.backportrc.json
*.md
!README.md
CODEOWNERS
LICENSE.txt
license.txt
TRADEMARK_POLICY.md
SECURITY.md
CODE_OF_CONDUCT.md
commitlint.config.js
crowdin.yml
codecov.yml
sider.yml
semgrep
banking/node_modules
banking/dist
